.nav-item a:hover {    
    background-color:#F3E5CD;
}

a:hover {
    background-color:#41403f;
}

h1{
    color:#4169e1;
    font-weight:200;
}

h2{
    color:#5f7fe2; 
}

.contenedor-imagen img {
    border: solid;
    color: #4169e1;
}
